h1{
    color: blue;
}
.mypara{
    color: blueviolet;
    font-size: medium;
}
#sub-heading
{
    color: chocolate;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
.mypara
{
    
}